version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/prod"
    schedule:
      interval: "monthly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
